<div class="container-fluid">
  <div class="card mx-auto" id="userCard">
    <div class="row p-2">
      <div class="col">
        <img
          src="{{ user.photo }}"
          class="rounded-circle border border-success"
          alt=""
        />
      </div>
      <div class="col">
        <h3>{{ user.name }}</h3>

        <table class="table table-striped">
          <tbody>
            <tr>
              <td>{{ user.reposNumber }}</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

        {{ user.repos }}
        {{ user.followers }}
        {{ user.following }}
        {{ user.dateCreated }}
      </div>
    </div>
  </div>
</div>
